{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% comment %} {% block title_block %} Task List {% endblock %} {% endcomment %}

{% block css_block %}

    <style>
        .addButton {
            position: fixed;
            bottom: 45px;
            right: 55px;
            font-size: large;
            padding: 1rem;
            font-weight: bold;
            background-color: rgb(22, 111, 228);
            border-radius: 10px;
            cursor: pointer;      
        }

        .addButton a{
            decoration: none; 
            color: inherit;      
        }


        .image-container {
            display: inline-block;
            position: relative;
            border: 3px solid black; 
            margin: 5px;
        }
        .delete-icon {
            position: absolute;
            top: 5px;
            right: 5px;
            cursor: pointer;
            color: red;
        }
    </style>
{% endblock %}

{% block body_block %}
    
        <center>
            <h3>{{Task.title}}</h3>
        </center>
        <br>
        <p><strong>Description: </strong>{{Task.description|linebreaks}}</p>
        <p><strong>Due: </strong>{{Task.due_date}}</p>
        
        <br>


        {% comment %}  {% endcomment %}
        {% for image in images %}
            <a class="image-container" href ="{% url 'tasks:delete_image' pk=image.pk %}">
                <img src="/media/{{ image }}" width="200px" height="150px">
            </a>   
        {% endfor %}
        <p style="color:red"><strong>click any image to view or delete it</strong></p>

        <a class="btn btn-success" href="{% url 'tasks:add_image_to_task' pk=Task.pk %}">Add Image</a>
       
        <br>
        <br>

        <p><strong>Priority: </strong>{{Task.get_priority_display}}</p>
        <p><strong>Upload Date: </strong>{{Task.upload_date}}</p>
        <p><strong>Last Update: </strong>{{Task.update_date}}</p>
        
        {% if Task.is_complete == False %}
            <p><strong>Task Status: </strong><strong style="color:red">Incomplete</strong></p>
        {% else %}
            <p><strong>Task Status: </strong><strong style="color:green">Completed</strong></p>
        {% endif %}

        <button class="addButton">
            <a href="{% url 'tasks:update_task' pk=Task.pk %}">Update Task</a>
        </button>
        <br>

        <a class="btn btn-danger" href="{% url 'tasks:task_delete' pk=Task.pk %}">Delete Task</a>
        <br>
        <br>

  
{% endblock %}
    


        
        
    


