{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% comment %} {% block title_block %} Task List {% endblock %} {% endcomment %}

{% block css_block %}

    <style>
        .addButton {
            position: fixed;
            bottom: 45px;
            right: 55px;
            font-size: large;
            padding: 1rem;
            font-weight: bold;
            background-color: rgb(22, 111, 228);
            border-radius: 10px;
        }
    </style>
{% endblock %}

{% block body_block %}
    
        <center>
            <h3>{{Task.title}}</h3>
        </center>
        <br>
        <p><strong>Description: </strong>{{Task.description|linebreaks}}</p>
        <p><strong>Due: </strong>{{Task.due_date}}</p>
        <center>
            <img src="/media/{{Task.images}}" width="300px" height="250px">
        </center>
        <p><strong>Priority: </strong>{{Task.get_priority_display}}</p>
        <p><strong>Upload Date: </strong>{{Task.upload_date}}</p>
        <p><strong>Last Update: </strong>{{Task.update_date}}</p>
        
        {% if Task.is_complete == False %}
            <p><strong>Task Status: </strong><strong style="color:red">Incomplete</strong></p>
        {% else %}
            <p><strong>Task Status: </strong><strong style="color:green">Completed</strong></p>
        {% endif %}

        <button class="addButton">Update Task</button>

    


        
        
    


{% endblock %}
