{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% comment %} {% block title_block %} Task List {% endblock %} {% endcomment %}

{% block css_block %}

{% endblock %}

{% block body_block %}
  <center>
  <img src="/media/{{image}}" height="350px" width="500px" style="border:5px solid black"/>"
  <br>
  <br>
  <p><strong>Are you sure you want to delete the image?</strong></p>
  <br>

  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Confirm Delete</button>
    <a href="{% url 'tasks:task_detail' pk=image.task.pk %}" class="btn btn-secondary">Cancel</a>
  </form>
</center>

  
{% endblock %}
    


        
        
    


