{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% comment %} {% block title_block %} Task List {% endblock %} {% endcomment %}

{% block css_block %}

{% endblock %}

{% block body_block %}
    
  <h4>{{ Task.title }}</h4>
  <p>Are you sure you want to delete the task "{{ Task }}"?</p>

  <form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Confirm Delete</button>
    <a href="{% url 'tasks:task_list' %}" class="btn btn-secondary">Cancel</a>
  </form>

  
{% endblock %}
    


        
        
    


