{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block title_block %} Task List {% endblock %}

{% block body_block %}
    <center>
        <h3>Task List</h3>
        <center>
        <form class="form-inline" method="GET">
            <input class="form-control mr-sm-2" type="text" name="search" placeholder="Search Task">
            <br>
            <button class="btn btn-success" type="submit">Search</button>
        </form>   
    </center>
    <br>
   
    {%for data in object_list %}
        <ul class="list-group">
            <li class="list-group-item" style="text-align: left;">
                <p><h4>Title: {{data.title}}</h4></p>
                <p>Priority: {{data.get_priority_display}}</p>
                <p>Due: {{data.due_date}}</p>
            </li>
        </ul>
    {%endfor%}

        
        
    


{% endblock %}
