{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block title_block %} Task List {% endblock %}

{% block css_block %}

    <style>
        .list-view-custom-style{
            text-align: left;
        }
        .list-view-custom-style:hover{
            background-color: blue;
            color: white;
            text-decoration: none;
        }
        {% comment %}  /* inherit== Use the color of the parent element */{% endcomment %}
        a {
            color: inherit; 
            text-decoration: none; 
        }
    </style>
{% endblock %}

{% block body_block %}
    <center>
        <h3>Task List</h3>
        <center>
        <form class="form-inline" method="GET">
            <input class="form-control mr-sm-2" type="text" name="search" placeholder="Search Task">
            <br>
            <button class="btn btn-success" type="submit">Search</button>
        </form>   
    </center>
    <br>
   
    {%for data in object_list %}
        <ul class="list-group">
            <a href="{% url 'tasks:task_detail' pk=data.pk %}">
                <li class="list-group-item list-view-custom-style">
                    <p><h4>Title: {{data.title}}</h4></p>
                    <p>Priority: {{data.get_priority_display}}</p>
                    <p>Due: {{data.due_date}}</p>
                </li>
            </a>
        </ul>
    {%endfor%}

        
        
    


{% endblock %}
